body {
  margin: 0;
}

container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  border: 1px solid black;
  justify-content: space-around;
  align-content:center;
  align-items:baseline;
  height: 100vh;
}

.box {
  /* display: flex; */
  justify-content: center;
  align-content: flex-end;
  /* text-align: right;
  text-justify: center; */
  /* height: 90px;
  width: 90px; */
  margin: 20px;
  font-size: 20px;
}

.box1 {
  background:green;
  /* flex-basis: 600px; */
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 100px;
  /* width: 600px; */
  /* height: 90px;
  width: 90px; */
}

.box2 {
  background: blue;
  flex-grow: 2;
  flex-shrink: 3;
}

.box3 {
  background: red;
  height: 120px;
}

.box4 {
  background: magenta;
}

.box5 {
  background: yellow;
}

.box6 {
  background: pink;
}